.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  margin-right: 20%;
  .pokemon {
    display: flex;
    flex-direction: column;
    .name {
      margin-top: 60px;
      margin-bottom: 20px;
      text-align: center;
      font-weight: 800;
      font-size: 34px;
    }

    .bigPicture {
      display: flex;
      margin: auto;
      max-width: 70%;
      margin-bottom: 30px;
    }

    .stats {
      display: flex;
      flex-direction: column;
      margin: auto;
      border: 8px double red;
      padding: 20px;
      background-color: rgba(56, 52, 52, 0.1);
    }
  }
  .sprite {
    display: flex;
    margin: auto;
    width: 150px;
    height: 150px;
  }
}

.select {
  display: flex;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .right {
    order: 2;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;

    .pokemon {
      display: flex;

      .name {
        margin-top: 20px;
        margin-bottom: 8px;
        font-weight: 800;
        font-size: 12px;
        text-decoration: underline;
      }

      .bigPicture {
        display: flex;
        margin: auto;
        max-width: 30%;
      }

      .stats {
        display: flex;
        margin: auto;
        font-size: 10px;
        border: 5px double red;
        gap: 4px;
        padding: 10px;
      }
    }
    .sprite {
      display: flex;
      margin: auto;
      width: 110px;
      height: 110px;
    }
  }

  .evolutions {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
  }

  .no-evolutions {
    text-align: center;
    font-size: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 1.8rem;
  }

  .select {
    justify-content: center;
    margin-top: 10%;
    font-size: 14px;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 768px) {
  .right {
    .pokemon {
      .name {
        margin-top: 10px;
        font-size: 12px;
      }

      .bigPicture {
        display: flex;
        margin: auto;
        max-width: 20%;
      }

      .stats {
        display: flex;
        margin: auto;
        font-size: 10px;
        border: 5px double red;
        gap: 4px;
        padding: 10px;
      }
    }
    .sprite {
      display: flex;
      margin: auto;
      width: 100px;
      height: 100px;
    }
  }

  .evolutions {
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
  }

  .no-evolutions {
    flex-direction: row;
    justify-content: center;
  }

  .select {
    margin-bottom: 10%;
  }
}


@media screen and (min-width: 768px) {
  .right {
    .pokemon {
      .name {
        margin-top: 10px;
        font-size: 18px;
      }

      .bigPicture {
        display: flex;
        margin: auto;
        max-width: 35%;
      }

      .stats {
        display: flex;
        margin: auto;
        font-size: 15px;
        border: 5px double red;
        gap: 4px;
        padding: 10px;
      }
    }
    .sprite {
      display: flex;
      margin: auto;
      width: 100px;
      height: 100px;
    }
  }

  .evolutions {
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
    font-size: 16px;
  }

  .no-evolutions {
    flex-direction: row;
    justify-content: center;
  }

  .select {
    margin-bottom: 10%;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .right {
    .pokemon {
      .name {
        margin-top: 10px;
        font-size: 15px;
      }

      .bigPicture {
        display: flex;
        margin: auto;
        max-width: 65%;
      }

      .stats {
        display: flex;
        margin: auto;
        font-size: 15px;
        border: 5px double red;
        gap: 4px;
        padding: 10px;
      }
    }
    .sprite {
      display: flex;
      margin: auto;
      width: 100px;
      height: 100px;
    }

    span{
      font-size: 13px;
    }
  }

  .evolutions {
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
  }

  .no-evolutions {
    flex-direction: row;
    justify-content: center;
  }

  .select {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .right {
    .pokemon {
      .name {
        margin-top: 10px;
        font-size: 15px;
      }

      .bigPicture {
        display: flex;
        margin: auto;
        max-width: 70%;
      }

      .stats {
        display: flex;
        margin: auto;
        font-size: 12px;
        border: 5px double red;
        gap: 4px;
        padding: 10px;
      }
       span{
      font-size: 13px;
    }
    }
    .sprite {
      display: flex;
      margin: auto;
      width: 100px;
      height: 100px;
    }
  }

  .evolutions {
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
  }

  .no-evolutions {
    flex-direction: row;
    justify-content: center;
  }

  .select {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 1920px) {
    .right {
    .pokemon {
      .name {
      
        font-size: 20px;
      }

      .bigPicture {
        display: flex;
        margin: auto;
        max-width: 80%;
      }

      .stats {
        display: flex;
        margin: auto;
        font-size: 20px;
        border: 5px double red;
        gap: 4px;
        padding: 20px;
      }
       span{
      font-size: 18px;
    }
    }
    .sprite {
      display: flex;
      margin: auto;
      width: 100px;
      height: 100px;
    }
  }

  .evolutions {
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
    font-size: 20px;
  }

  .no-evolutions {
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
  }

  .select {
    margin-bottom: 10%;
  }
}